#hoje {
  color: darkred;
}

#amanha {
  color: darkblue;
}

#amanha {
  color: darkblue;
}

.underline {
  text-decoration: none;
}

.codigo {
  color: seagreen;
}

p {
  font-size: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
